{% extends 'base.html' %}
{% block title %}Books Library{% endblock title %}
{% block content %}
<div class="maindiv">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis magni, explicabo hic, neque repellendus
            quos,
        </p>
        <p>aperiam cumque aliquam tempore iure a maxime laborum amet nihil rem minus corrupti tenetur? Doloribus!
        </p>
    </div>
    <div>
        <a href="{% url 'books' %}"><button>Books List</button></a>
    </div>

</div>
{% endblock content %}